# Node.js dependencies
node_modules

# Environment variables
.env
.env.*

# Version control
.git
.gitignore

# Logs
npm-debug.log*
*.log

CHANGELOG.md

*.class
*.o
*.exe

# Development tools and cache
.vscode
.vercel
.idea
.npm
yarn-error.log

# Operating system files
.DS_Store
